<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-12-19T00:00:00Z</date>
	<key>WorkspacePath</key>
	<string>/Users/ariel.flahaut/Desktop/ ./Year 2 Fall/CSE201/closedfish/src/Generator/Generator.xcodeproj</string>
</dict>
</plist>
